/* General */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(119.62deg, #272727 15.82%, #1d1d1d 114.38%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Philosopher";
    height: 100%;
    overflow: hidden;
}
/* -------------------------------------------------------------------------- */

/* navigation */
.nav {
    height: 70px;
    width: 100%;
    background-color: #202020;
    padding: 0;
    border-bottom: 1px solid #313131;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    margin-right: 50px;
}

.links ul {
    display: flex;
    flex-direction: row;
}

.links a {
    animation: color;
    padding-bottom: 18px;
    letter-spacing: 1px;
}

.links a:hover {
    color: #55FFEB;
    transition: color .2s ease-in-out;
    font-weight: bold;
}

.link-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 40px;
    letter-spacing: 0.025em;
    padding: 0 40px 0 
}

#logo {
    position: absolute;
    left: 2%;
    top: 12px;
    color: #55FFEB;
    font-size: 2.5em;
    font-weight: normal;
}
/* -------------------------------------------------------- */

/* Body tags and introduction section */
#body-tag-top {
    position: absolute;
    left: 1.5%;
    top: 90px;
    color: #676767;
    font-family: "Kristi";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

#body-tag-bottom {
    position: absolute;
    bottom: 3%;
    left: 1.5%;
    color: #676767;
    font-family: "Kristi";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.introduction {
    position: absolute;
    top: 27%;
    left: 15%;
}

.introduction h1 {
    color: white;
    font-family: "Philosopher";
    font-style: normal;
    font-weight: normal;
    font-size: 5em;
    line-height: 90px;
}

.introduction h4 {
    color: white;
    font-family: "Fira Code";
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 39px;
    letter-spacing: -0.07em;
    margin-top: 20px;
}

.button {
    position: relative;
    width: 250px;
    height: 40px;
    left: 10px;
    top: 10px;
    background: #202020;
    border: 2px solid #55FFEB;
    box-sizing: border-box;
    font-size: 1.1em;
    color: white;
    font-family: "Philosopher";
    margin: 35px 0 0 100px;
    transition: all 0.1s ease;
    z-index: 110;
}

.button:hover {
    box-shadow: 0 0 3px 3px #55FFEB;
    cursor: pointer;
}

#dev-blue {
    color: #55FFEB;
}
/* ------------------------------------------------------------------ */


canvas {
    position: absolute;
    right: 1px;
    z-index: 100;
}

/* individual id selecters for animation */
#hey {
    animation: fadeInUp 3s ease-in;
}

#im-david {
    animation: fadeInUp 4s ease-in;
}

#web-developer {
    animation: fadeInUp 5.5s ease-in;
}

#animation-blue {
    color: #55FFEB;
    animation: colorChange 7s ease-in;
}

#front-end {
    animation: fadeInUp 7s ease-in;
}

#button-animation {
    animation: fadeInUp 7s ease-in;
}

/* ----------------------------------------------------------------- */

/* Keyframes */
@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
        
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
        
    }
}

@keyframes crazy {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: rotateY(360deg);
    }

    50% {
        transform: rotateX(180deg) rotateY(180deg);
        
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    70% {
        opacity: 0;
        transform: translateY(15px);
    }
    80% {
        opacity: 0;
        transform: translateY(20px);
    }

    90% {
        opacity: .1;
        transform:translateY(-2px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    70% {
        opacity: 0;
        transform: translateY(15px);
    }
    80% {
        opacity: 0;
        transform: translateY(20px);
    }

    90% {
        opacity: .1;
        transform:translateY(-2px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-96px);
    }

    70% {
        opacity: 0;
        transform: translateY(-96px);
    }
    80% {
        opacity: 0;
        transform: translateY(-96px);
    }

    90% {
        opacity: .1;
        transform:translateY(-96px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        display: block;
    }
}

@keyframes colorChange {
    0% {
        color: white;
    }

    90% {
        color: white;
    }

    100% {
        color: #55FFEB;
    }
}

/* --------------------------------------------------------- */










